**Taking File Input And Storing It As String**

In [ ]:
filename = input("Enter the name of File1 : ")

Enter the name of File1 : data1.txt

In [ ]:
f = open(filename, "r")
text = f.read()

In [ ]:
print(text)

$1000, ₹11.11, £155.1
30/11/2001 11/11/11
$1010, ₹10.11, £195.1

12/30/2001 12/30/01
4th, fifth, sixth, 1st, 2nd, nineteenth, fifth
Aniket
Anti, Ears, Easy, Hello, How,
Owl , iron

**Replacing New Line with a Space**

In [ ]:
def replace_newline(s): # Text of format 'My name is\nAniket\nJha' is converted to 'My name is Aniket Jha'.
  s = s.replace('\n',' ') 
  return s

In [ ]:
text = replace_newline(text)
print(text)

$1000, ₹11.11, £155.1 30/11/2001 11/11/11 $1010, ₹10.11, £195.1  12/30/2001 12/30/01 4th, fifth, sixth, 1st, 2nd, nineteenth, fifth Aniket Anti, Ears, Easy, Hello, How, Owl , iron

**Removing Comma**

In [ ]:
def replace_comma(s): # Text of format 'My name, Aniket, Jha' is converted to 'My name is Aniket Jha'.
  s = s.replace(',','')
  return s

In [ ]:
text = replace_comma(text)
print(text)

$1000 ₹11.11 £155.1 30/11/2001 11/11/11 $1010 ₹10.11 £195.1  12/30/2001 12/30/01 4th fifth sixth 1st 2nd nineteenth fifth Aniket Anti Ears Easy Hello How Owl  iron

**Removing Fullstop**

In [ ]:
def replace_fullstop(s): # Text of format 'My name. Aniket. Jha' is converted to 'My name is Aniket Jha'.
  s = s.replace('.','')
  return s

In [ ]:
text = replace_fullstop(text)
print(text)

$1000 ₹1111 £1551 30/11/2001 11/11/11 $1010 ₹1011 £1951  12/30/2001 12/30/01 4th fifth sixth 1st 2nd nineteenth fifth Aniket Anti Ears Easy Hello How Owl  iron

In [ ]:
import re

In [ ]:
def currency(s): # Looks for all string starting with any of these $, ₹, £ and followed by some digits(even fractions). 
  x = re.findall(r'[\$₹£]\d+\.?\d*', s) # '.' and digits followed by '.' are optional as number may or may not be fractional.
  return x

In [ ]:
x = currency(text)
print(x)

['$1000', '₹1111', '£1551', '$1010', '₹1011', '£1951']

In [ ]:
def ddmmyyyy(s): # Looks for dates represented as dd/mm/yyyy
  # Below conditions are put keeping in mind that day can't be 00 or greater than 31, also month can't be 00 or greater than 
  # And first digit of year must be 1 or 2
  x = re.findall(r'\b((0[1-9]|[12][0-9]|3[01])(/)(0[1-9]|1[012])(/)([1-2][0-9]{3}))\b', s)
  # \b checks for word boundary i.e. above pattern should match for complete word not substring of word.
  return x

In [ ]:
x = ddmmyyyy(text)
for val in x:
  print(val[0])

30/11/2001

In [ ]:
def ddmmyy(s): # Looks for dates represented as dd/mm/yy
  x = re.findall(r'\b((0[1-9]|[12][0-9]|3[01])(/)(0[1-9]|1[012])(/)([0-9]{2}))\b', s)
  return x

In [ ]:
x = ddmmyy(text)
for val in x:
  print(val[0])

11/11/11

In [ ]:
def mmddyyyy(s): # Looks for dates represented as mm/dd/yyyy
  x = re.findall(r'\b((0[1-9]|1[012])(/)(0[1-9]|[12][0-9]|3[01])(/)([1-2][0-9]{3}))\b', s)
  # \b checks for word boundary i.e. above pattern should match for complete word not substring of word.
  return x

In [ ]:
x = mmddyyyy(text)
for val in x:
    print(val[0])

12/30/2001

In [ ]:
def mmddyy(s): # Looks for dates represented as mm/dd/yy
  x = re.findall(r'\b((0[1-9]|1[012])(/)(0[1-9]|[12][0-9]|3[01])(/)([0-9]{2}))\b', s)
  # \b checks for word boundary i.e. above pattern should match for complete word not substring of word.
  return x

In [ ]:
x = mmddyy(text)
for val in x:
    print(val[0])

11/11/11
12/30/01

In [ ]:
def order_number(s): # Orders (Ordinals) must start with one or more digit followed by either st, nd, rd or th.
  # e.g 1st, 2nd, 3rd, 4th
  x = re.findall(r'\b(([1-9][0-9]*)(st|nd|rd|th))\b',s)
  # \b checks for word boundary i.e. above pattern should match for complete word not substring of word.
  return x

In [ ]:
x = order_number(text)
for val in x:
    print(val[0])

4th
1st
2nd

In [ ]:
def order_text(s): # Orders (Ordinals) in alphabetical order e.g. first, second, fifth, twelveth, sixtieth, hundredth, etc.
  # This is quite tricky as if we just check for strings ending with either 'th', 'rd', 'nd' or 'st' then word 'rest' will also match the pattern.
  # Hence we need to check for initials letters as well. 
  # For e.g. for 'sixtieth' we can check that whether the string is starting with 'six' and ending with 'th'.
  # Similarily 'sixtyseventh' will match for initials letters 'six' and 'th' at the end.
  # Hence instead of checking for all orders we can check for initial few letters and either of 'th', 'nd', 'rd' or 'st' at end.

  # re.findall(r'\b((first|second|third)|(four[a-z]*|fif[a-z]*|six[a-z]*|seven[a-z]*|eight[a-z]*|nin[a-z]*
  # |ten[a-z]*|eleven[a-z]*|twel[a-z]*|thirteen[a-z]*|twenty[a-z]*|thirty[a-z]*|one[a-z]*|two[a-z]*|
  # three[a-z]*)(st|nd|rd|th))\b', s, re.IGNORECASE)

  x = re.findall(r'\b((first|second|third)|(four[a-z]*|fif[a-z]*|six[a-z]*|seven[a-z]*|eight[a-z]*|nin[a-z]*|ten[a-z]*|eleven[a-z]*|twel[a-z]*|thirteen[a-z]*|twenty[a-z]*|thirty[a-z]*|one[a-z]*|two[a-z]*|three[a-z]*)(st|nd|rd|th))\b', s, re.IGNORECASE)
  # \b checks for word boundary i.e. above pattern should match for complete word not substring of word.
  # re.IGNORECASE is used case insensitive pattern matching
  return x

In [ ]:
x = order_text(text)
for val in x:
  print(val[0])

fifth
sixth
nineteenth
fifth

In [ ]:
def four_letter_word_starting_with_vowel(s): 
  # Starting with small or capital case vowels (a, e, i, o, u, A, E, I, O, U) followed by any 3 letters.
  # {3} after [a-zA-Z] represents [a-zA-Z] should repeat 3 times.
  return re.findall(r'\b[aeiouAEIOU][a-zA-Z]{3}\b', s)
  # \b checks for word boundary i.e. above pattern should match for complete word not substring of word.

In [ ]:
print(four_letter_word_starting_with_vowel(text))

['Anti', 'Ears', 'Easy', 'iron']